//-
   Created by benjamintanz on 09.06.15.

div(style="text-align: center;") &copy; 2016
div(style="text-align: center;") Der Betreiber übernimmt keine Haftung für die Richtigkeit der Berechnungen und Angaben.
div(style="text-align: center;")
  a(href='/impressum') Impressum
  | &nbsp | &nbsp
  a(href='/datenschutzerklaerung') Datenschutz
