//-
   Created by benjamintanz on 09.06.15.

div(style="text-align: center;") &copy; 2016 SimplyFi | SimplyFi ist eine Marke der SimplyFi Analytics UG.
div(style="text-align: center;") Die SimplyFi UG übernimmt keine Haftung für die Richtigkeit der Berechnungen und Angaben.
div(style="text-align: center;")
  a(href='/impressum') Impressum
  | &nbsp | &nbsp
  a(href='/datenschutzerklaerung') Datenschutz
