//  File containing generic SimplyFi HTML headtags
    Created by benjamintanz on 29.07.15.


//- Meta tags
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='msapplication-tap-highlight', content='no')
meta(name='description', content='Materialize is a modern responsive CSS framework based on Material Design by Google.')
title SimplyFi

//- favicons

//- Import vendor css
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
link(rel='stylesheet' href='../css/vendor/bootstrap_datepicker/bootstrap-datepicker3.css')
link(rel='stylesheet' href='../css/vendor/chartist/chartist.min.css')
link(rel='stylesheet' href='../css/vendor/selectize/selectize.css')

//- Import app css
link(rel='stylesheet' href='../css/inspinia.css')
link(rel='stylesheet' href='../css/app.css')
link(rel='stylesheet' href='../css/app.index.css')
link(rel='stylesheet' href='../css/app.charts.css')