//
   Created by benjamintanz on 09.06.15.

//- page navigation
//- the navigation values are retrieved form app.local.navElems

nav(class='navbar-default navbar-static-side', role='navigation')
  div.sidebar-collapse
    ul.nav#side-menu
      li.nav-header
        div.dropdown.profile-element
          span
            img(alt='image', class='img-circle' src='../images/navbar/profile_small.jpg')
          a(data-toggle='dropdown', class='dropdown-toggle', href='/')
            span.clear
              span.block.m-t-xs
                strong.font-bold
                  | Max Muster
              span.block.text-xs.text-muted
                | CXO
        div.logo-element
          | SF+

      li
        a(href='/')
          i.fa.fa-th-large
          span.nav-label
            | Erste Schritte

      li
        a(href='/')
          i.fa.fa-th-large
          span.nav-label
            | Blog

      each category in navElems
        li
          a(href='#')
            i.fa.fa-th-large
            span.nav-label= category.name
            span.fa.arrow
          ul.nav.nav-second-level
            each item in category.values
              li
                a(href=item.url)= item.name

      li
        a(href='/')
          i.fa.fa-th-large
          span.nav-label
            | Über uns
