//
   Created by benjamintanz on 09.06.15.

//- Import client vendor js
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.1/metisMenu.min.js')
script(src='/js/vendor/jquery.slimscroll.js')
script(src='/js/vendor/bootstrap_datepicker/bootstrap-datepicker.js')
script(src='/js/vendor/bootstrap_datepicker/locales/bootstrap-datepicker.de.min.js')
script(src='/js/vendor/moment/moment.min.js')
script(src='/js/vendor/spin/spin.js')
script(src='/js/vendor/chartist/chartist.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js')


//- Import client app js
script(src='/js/app/app.js')
script(src='/js/inspinia.js')
script(src='/js/app/app.helpers.js')
script(src='/js/app/app.charts.js')
script(src='/js/app/charts/boerse.portfolio.js')
script(src='/js/app/app.init.js')
script(src='/js/app/app.boerse.js')
script(src='/js/app/app.deposits.js')
script(src='/js/app/app.debt.js')
script(src='/js/app/app.property.js')
script(src='/js/app/app.controller.js')

