//- boerse-fx-template
script(id='boerse-fx-results-2-template', type='text/x-handlebars-template')
  div.ibox
    div.ibox-title
      h5 {{obj.title}}

    div.ibox-content
      table.bordered
        thead
          tr
            | {{#with obj.header}}
            th(style='text-align: right; padding-right: 30px;') {{this.[0]}}
            th(style='text-align: left; padding-left: 30px; border-right: 1px solid #d0d0d0;') {{this.[1]}}
            th(style='text-align: right; padding-right: 30px;') {{this.[2]}}
            th(style='text-align: left; padding-left: 30px;') {{this.[3]}}
            | {{/with}}
        tbody
          | {{#each obj.body}}
          tr
            td(style='text-align: right; padding-right: 30px;') {{numFormat this.[0] this.digits}}
            td(style='text-align: left; padding-left: 30px; border-right: 1px solid #d0d0d0;') {{numFormat this.[1] this.digits}}
            td(style='text-align: right; padding-right: 30px;') {{numFormat this.[2] this.digits}}
            td(style='text-align: left; padding-left: 30px;') {{numFormat this.[3] this.digits}}
          | {{/each}}
