//
   Created by benjamintanz on 09.06.15.

div.container
  div.row
    div.col.l4.s12
      h5.white-text Help Materialize grow
      p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
    div.col.l4.s12(style='overflow:hidden;')
      h5.white-text Connect
div.footer-copyright
  div.container
    | © 2014-2015 SimplyFi, All rights reserved.