//
   Created by benjamintanz on 09.06.15.

//- page navigation
//- the navigation values are retrieved form app.local.navElems


div.container
  a(href='#', data-activates='nav-mobile', class='button-collapse top-nav waves-effect waves-light circle')
    i.mdi-navigation-menu
ul(id='nav-mobile', class='side-nav fixed')
  li.logo
    a(id='logo-container', href='/', class='brand-logo')
      object(id='front-page-logo', type='image/svg+xml', data='/images/materialize.svg') Der Browser unterstützt kein SVG
  li.bold
    a(href='#!', class='waves-effect waves-teal') Erste Schritte
  li.bold
    a(href='#!', class='waves-effect waves-teal') Blog
  li.divider
  li.no-padding
    ul.collapsible.collapsible-accordion
      //-var layoutObj = [{'name': 'Finanzplaung','values':{1:{name:'Risikopräferenzen', url:'/'},2:{name:'Zinsrechner', url:'/'}}},{'name': 'Kredit','values':{1:{name:'Kredit1', url:'/'},2:{name:'Kredit2', url:'/'}}}];
      each category in navElems
        li.bold
          a(class='collapsible-header waves-effect waves-teal')= category.name
          div(class='collapsible-body')
            ul
              each item in category.values
                li
                  a(href=item.url)= item.name
  li.divider
  li.bold
    a(href='#!', class='waves-effect waves-teal') Über uns
