//
   Created by benjamintanz on 09.06.15.

extends layout

block content
  //- top banner
  div.section#calculator-banner
    div.container
      div.row
        div.col.s12.m9
          h4.header.center-on-small-only Optionspreisrechner
          h5.light.blue-text.text-lighten-4.center-on-small-only Mit dem Optionspreisrechner kannst du Preise und Parameter für Put- und Call-Optionen auf Aktien nach dem Black-Scholes-Modell bestimmen.


  //div.container
  div.row
    //-input component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          i.mdi-action-input.small
          span.card-title.black-text &nbsp Eingaben

          p Deine Eingaben
          div.row.input
            div.input-field.col.s12
              i.mdi-action-help.prefix.active
              select
                option Call-Option
                option Put-Option
              label Art der Option
          div.row.input
            div.input-field.col.s12
              i.mdi-action-help.prefix
              input(placeholder="Preis der Aktie in €", id="boerse-options-price", type="text", class="validate", value="50.00")
              label(for="boerse-options-price") Preis der Aktie (€)
          div.row.input
            div.input-field.col.s12
              i.mdi-action-help.prefix
              input(placeholder="Strike/Basispreis in €", id="boerse-options-strike", type="text", class="validate", value="50.00")
              label(for="boerse-options-strike") Basispreis/Strike (€)
          div.row.input
            div.input-field.col.s12
              i.mdi-action-help.prefix
              input(placeholder="Zinssatz in %", id="boerse-options-interest", type="text", class="validate", value="3.00")
              label(for="boerse-options-interest") Zinssatz (%)
          div.row.input
            div.input-field.col.s12
              i.mdi-action-help.prefix
              input(placeholder="Restlaufzeit in Tagen", id="boerse-options-maturity", type="text", class="validate", value="60")
              label(for="boerse-options-maturity") Restlaufzeit der Option (Tage)
          div.row.input
            div.input-field.col.s12
              i.mdi-action-help.prefix
              input(placeholder="Volatilität in %", id="boerse-options-vola", type="text", class="validate", value="12")
              label(for="boerse-options-vola") Volatilität (%)
          div.row.input.center-align
            a.waves-effect.waves-light.btn
              i.mdi-content-send.right
              | Berechnen

    //- results component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          span.card-title.black-text Ergebnisse
          p Raum für Ergebnisse


  div.row
    //- explanation component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          span.card-title.black-text Detailergebnisse
          p Raum für Detailergebnisse

    //- explanation component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          span.card-title.black-text Details zu diesem Rechner
          p Raum für Erklärungen