//
   Created by benjamintanz on 09.06.15.

extends layout

block content
  //- top banner
  div.section#calculator-banner
    div.container
      div.row
        div.col.s12.m9
          h4.header.center-on-small-only Optionspreisrechner
          h5.light.blue-text.text-lighten-4.center-on-small-only Mit dem Optionspreisrechner kannst du Preise und Parameter für Put- und Call-Optionen auf Aktien nach dem Black-Scholes-Modell bestimmen.


  //div.container
  div.row
    //-input component
    div.col.s12.m6
      div.card.blue.lighten-4
        div.card-content.black-text
          span.card-title.black-text Eingaben
          p Deine Eingaben
    //- explanation component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          span.card-title.black-text Details zu diesem Rechner
          p Erläuterungstext, welcher sich diesmal über zwei zeieln erstrecken sollte


