//- This is the layout file that wraps around any content of the app
doctype html
html
  head
    title= title
    //- Import vendor css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css')

    //- Import app css
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- Import client vendor js
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')


    //- Import client app js
    script(src='/javascripts/script.js')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

  body
    include includes/navbar

    div.container
      //- add page content
      block content