//- This is the layout file that wraps around any content of the app
doctype html
html(lang='de')
  head
    //- Meta tags
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='description', content='Materialize is a modern responsive CSS framework based on Material Design by Google.')

    title SimplyFi
    //- favicons


    //- Import vendor css
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    //- Import app css
    link(rel='stylesheet' href='../stylesheets/main.css')
    link(rel='stylesheet' href='../stylesheets/navbar.css')
    link(rel='stylesheet' href='../stylesheets/box.css')
    link(rel='stylesheet' href='../stylesheets/components.css')


  body
    div#wrapper
      header
        //- add navigation
        include includes/navbar

      main#page-wrapper.gray-bg.sidebar-content
        //- add main content
        block content

      footer.page-footer
        //- add footer
        include includes/footer

    //- include scripts
    include includes/scripts
