/*************************************/
/* Individual Elements
/*************************************/

/* calculator output box width */
.item-masonry{
  width: 50%;
}
@media (max-width: 1200px) {
  .item-masonry{
    width: 100%;
  }
}


.color-lightblue {
  color: #2DA9E1;
}


.hr-line-dashed {
  border-top: 1px dashed #aaadaf;
  color: #40dfff;
  background-color: #ffffff;
  height: 1px;
  margin: 15px 0;
}

.hide {
  display: none;
}

.p-xxxs {
  padding: 2px;
}

.table-secondary{
  font-weight: 400;
  padding-left: 20px !important;
}

.fa-question-circle{
  color: rgba(170,173,175,0.8);
}

/* tables */
.annualval {
  font-weight: 600;
  background-color: #ebebeb;
  border-bottom: 1px solid #bbbbbb;
}

/* nav */
.nav-second-level li a {
  padding-left: 40px;
}

.nav > li > a {
  font-weight: 300;
}

/* IMAGE STYLES */
.img-rectangle {
  width: 135px;
  height: 41px;
}

/* INDEX PAGE STYLES */
#img-indexpage {
  width:  147px;
  height: 168px;
}

/* overlay for waiting times */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333D47;
  opacity: .7;
  z-index: 2000;
}

