/*************************************/
/* Individual Elements
/*************************************/
.hr-line-dashed {
  border-top: 1px dashed #aaadaf;
  color: #40dfff;
  background-color: #ffffff;
  height: 1px;
  margin: 15px 0;
}

.hide {
  display: none;
}

.p-xxxs {
  padding: 2px;
}

.table-secondary{
  font-weight: 400;
  padding-left: 20px !important;
}

.fa-question-circle{
  color: rgba(170,173,175,0.8);
}
