// This is the app's landing page
   Created by benjamintanz on 03.09.15.


doctype html
html(lang='de')
  head
    //- meta tags
    meta(charset="utf-8")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    title SimplyFi Hauptseite

    //- Import vendor css
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    //- Import app css
    link(rel='stylesheet' href='../css/app.landing.css')



  body(id="page-top")

    // navbar
    div.navbar-wrapper
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        div.container-fluid
          div.navbar-header.page-scroll
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span(class='sr-only') Navigation öffnen
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand', href='/')
              h1.logo SimplyFi



    div(id="inSlider", class="carousel slide carousel-fade", data-ride="carousel")
      ol(class="carousel-indicators")
        li(data-target="#inSlider", data-slide-to="0", class="active")
      div(class="carousel-inner", role="listbox")
        div(class="item active")
          //div(class="container")
          div(class="container-fluid")
            div(class="carousel-caption")
              h1 Die PLattform für Finanzplaner
              p
                a(class='btn btn-lg btn-primary btn-sf', href='/sparrechner', role='button') Mehr erfahren

          div(class="header-back one")


    section(id='features' class='container services')
      div.row
        div.col-sm-3
          h2 Full responsive
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        div.col-sm-3
          h2 Full responsive
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        div.col-sm-3
          h2 Full responsive
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        div.col-sm-3
          h2 Full responsive
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.



