// This is the app's landing page
   Created by benjamintanz on 03.09.15.


doctype html
html(lang='de')
  head
    //- meta tags
    meta(charset="utf-8")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    title SimplyFi Hauptseite

    //- Import vendor css
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    //- Import app css
    link(rel='stylesheet' href='../css/app.landing.css')



  body(id="page-top")

    // navbar
    div.navbar-wrapper
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        div.container-fluid
          div.navbar-header.page-scroll
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span(class='sr-only') Navigation öffnen
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand', href='/')
              h1.logo SimplyFi
          div#navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='#') Home
              li
                a.page-scroll(href='#') Rechner
              li
                a.page-scroll(href='#') Blog


    div(id="inSlider", class="carousel slide carousel-fade", data-ride="carousel")
      ol(class="carousel-indicators")
        li(data-target="#inSlider", data-slide-to="0", class="active")
      div(class="carousel-inner", role="listbox")
        div(class="item active")
          //div(class="container")
          div(class="container-fluid")
            div(class="carousel-caption")
              h1 Die PLattform für Finanzberechnungen
              p
                a(class='btn btn-lg btn-primary btn-sf', href='/sparrechner', role='button') Mehr erfahren

          div(class="header-back one")


    section(id='features' class='container services')

      div.row
        div.col-lg-12.text-center
          div.red-line(style='margin: 20px auto 0;')
          h1 SimplyFi macht komplexe Finanzberechnungen zum Kinderspiel.
          div.space-30


      // first marketing row
      div.row
        div.col-sm-4
          span(style='text-align: center', class='center-block')
            i(class='fa fa-mobile fa-5x features-icon')
          h2 Tilgungs- und Sparpläne erstellen
          p Mit SimplyFi erstellen Sie spielend leicht Tilgungspläne für Finanzierungen wie Hypothekendarlehen oder Sparpläne für Sparvorhaben. Über zahlreiche Parameter können Sie die Pläne individuell anpassen.
          p Probieren Sie es aus! Mit folgenden Rechner können Sie Zahlungspläne erstellen:
          p
            a(class='red-link', href='/hypothekenrechner', role='button') Hypothekenrechner &raquo;
          p
            a(class='red-link', href='/sparrechner', role='button') Sparrechner &raquo;
          p
            a(class='red-link', href='/zuwachssparrechner', role='button') Zuwachssparrechner &raquo;
          p
            a(class='red-link', href='/zinsrechner', role='button') Zinsrechner &raquo;

        div.col-sm-4
          span(style='text-align: center', class='center-block')
            i(class='fa fa-mobile fa-5x features-icon')
          h2 Effektivzinsen analysieren
          p Berechnen Sie den effektiven Zinssatz von Finanzierungen und Sparplänen und vergleichen Sie so verschiedene Angebote miteinander.
          p Mit folgenden Rechner können Sie effektive Zinssätz berechnen:
          p
            a(class='red-link', href='/bausparrechner', role='button') Bausparrechner &raquo;
          p
            a(class='red-link', href='/zuwachssparrechner', role='button') Zuwachssparrechner &raquo;
          p
            a(class='red-link', href='/immobilienrenditerechner', role='button') Immobilienrenditerechner &raquo;
          p
            a(class='red-link', href='/aktienrenditerechner', role='button') Aktienrenditerechner &raquo;
        div.col-sm-4
          span(style='text-align: center', class='center-block')
            i(class='fa fa-mobile fa-5x features-icon')
          h2 Portfolios optimieren
          p Stellen Sie ein nach der modernen Portfoliotheorie optimales Aktienportfolio zusammen oder prüfen Sie, ob ein bestimmtes Portfolio optimal ist.
          p Mit dem Portfoliorechner können Sie optimale Wertpapierkombinationen bestimmen:
          p
            a(class='red-link', href='/portfoliorechner', role='button') Portfoliorechner &raquo;


      // second marketing row
      div.row
        div.col-lg-12.text-center
          div.red-line
          h1 In drei Schritten zum Ergebnis.


      // third marketing row
      div.row.features-block
        div.col-sm-4
          span(style='text-align: center', class='center-block')
            p.fa-number 1

          h2 Rechner wählen
          p Mit SimplyFi erstellen Sie spielend leicht Tilgungspläne für Finanzierungen wie Hypothekendarlehen oder Sparpläne für Sparvorhaben. Über zahlreiche Parameter können Sie die Pläne individuell anpassen.
          p Probieren Sie es aus! Mit folgenden Rechner können Sie Zahlungspläne erstellen:
          p
            a(class='red-link', href='/hypothekenrechner', role='button') Hypothekenrechner &raquo;
          p
            a(class='red-link', href='/sparrechner', role='button') Sparrechner &raquo;
          p
            a(class='red-link', href='/zuwachssparrechner', role='button') Zuwachssparrechner &raquo;
          p
            a(class='red-link', href='/zinsrechner', role='button') Zinsrechner &raquo;

        div.col-sm-4
          span(style='text-align: center', class='center-block')
            p.fa-number 2
          h2 Daten eingeben
          p Berechnen Sie den effektiven Zinssatz von Finanzierungen und Sparplänen und vergleichen Sie so verschiedene Angebote miteinander.
          p Mit folgenden Rechner können Sie effektive Zinssätz berechnen:
          p
            a(class='red-link', href='/bausparrechner', role='button') Bausparrechner &raquo;
          p
            a(class='red-link', href='/zuwachssparrechner', role='button') Zuwachssparrechner &raquo;
          p
            a(class='red-link', href='/immobilienrenditerechner', role='button') Immobilienrenditerechner &raquo;
          p
            a(class='red-link', href='/aktienrenditerechner', role='button') Aktienrenditerechner &raquo;

        div.col-sm-4
          span(style='text-align: center', class='center-block')
            p.fa-number 3
          h2 Rechnung durchführen
          p Stellen Sie ein nach der modernen Portfoliotheorie optimales Aktienportfolio zusammen oder prüfen Sie, ob ein bestimmtes Portfolio optimal ist.
          p Mit dem Portfoliorechner können Sie optimale Wertpapierkombinationen bestimmen:
          p
            a(class='red-link', href='/portfoliorechner', role='button') Portfoliorechner &raquo;

      div.row.features-block
        div.col-lg-6.features-text
          h2 Ob im Büro oder unterwegs, SimplyFi funktioniert auf allen Ihren Geräten.
        div.col-lg-6.text-right
          h2 Picture here


    // footer section
    section#contact.gray-section.contact
      div.container
        div.row.m-b-lg
          div.col-lg-12.text-center
            div.red-line
            h1 Kontaktieren Sie uns
            p Text hier
        div.row.m-b-lg
          div.col-lg-3.col-lg-offset-3
            address
              strong
                span.navy SimplyFi Analytics
                br
                | Amalienstr. 71
                br
                | 80799 München
          div.col-lg-4
            p.text-color Text hier
        div.row
          div.col-lg-12.text-center
            a(href='mailto:kontakt@simplyfi.de', class='btn btn-primary') Schreiben Sie uns eine E-Mail
            p.m-t-sm Oder folgen Sie uns auf Twitter, Facebook oder LinkedIN
            ul.list-inline.social-icon
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
        div.row
          div.col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
            p
              strong  &copy; 2015 SimplyFi Analytics



