
@media (min-width: 768px){
  .navbar-static-side{
    z-index: 2001;
    position: absolute;
    width: 220px;
  }
}

.nav-header{
  padding: 33px 25px;
  /* todo: revise picture */
  background: url("patterns/header-profile.png") no-repeat;
}

@media (max-width: 768px) {
  .navbar-header {
    display: inline;
    float: left;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
}

.nav-header a {
  color: #DFE4ED;
}
.nav-header .text-muted {
  color: #8095a8;
}

.nav > li.active > a {
  color: #ffffff;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: #fff;
}

.nav > li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;
}

.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav > li > a i {
  margin-right: 6px;
}

.nav.nav-second-level > li.active {
  border: none;
}
.nav.nav-second-level.collapse[style] {
  height: auto !important;
}

.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}

.nav-second-level li:last-child {
  margin-bottom: 10px;
}


.arrow {
  float: right;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}


.img-circle {
  border-radius: 50%;
}

.logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: none;
  padding: 18px 0;
}

a {
  cursor: pointer;
}

.clear {
  display: block;
  overflow: hidden;
}

.m-t-xs {
  margin-top: 5px;
}

.block {
  display: block;
}

.font-bold {
  font-weight: 600;
}

.text-muted {
  color: #888888;
}

.nav-header .text-muted {
  color: #8095a8;
}