//- This is the marvelous 'Datenschutzerklärung'
   Created by benjamintanz on 10.09.15.

doctype html
html(lang='de')
  head
    //- meta tags
    meta(charset="utf-8")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    title Datenschutzerklärung | SimplyFi
    //- Import vendor css
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    //- Import app css
    link(rel='stylesheet' href='../css/app.landing.css')
    link(rel='stylesheet' href='../css/app.landing.legal.css')
  body(id="page-top")
    //- navbar
    div.navbar-wrapper
      nav.navbar.navbar-default.navbar-fixed-top.navbar-dark(role='navigation')
        div.container
          div.navbar-header.page-scroll
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span(class='sr-only') Navigation öffnen
              span(class='icon-bar sf-bar')
              span(class='icon-bar sf-bar')
              span(class='icon-bar sf-bar')
            a(class='navbar-brand', href='/')
              h1.logo SimplyFi
          div#navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='/') Home
              li
                a.page-scroll(href='/#calcs') Rechner
              //li
                a.page-scroll(href='#') Blog

    section(id='privacy' class='container services')
      div.row
        div.col-lg-12
          br
          h1 Datenschutzerklärung
          br

          p.header Datenschutz
          p Die Nutzung dieser Website ist grundsätzlich ohne Angabe personenbezogener Daten möglich. Soweit auf der Seite dennoch personenbezogene Daten erhoben werden sollten, erfolgt dies, soweit möglich, nur auf freiwilliger Basis. Erhobene Daten werden nur zur Zusendung relevanter Informationen, Beantwortung von Anfragen und Zusendung von Newslettern verwendet.
          p Personenbezogene Daten werden nicht an Dritte weitergegeben oder sonst übermittelt, es sei denn Sie haben dazu ausdrücklich zugestimmt.
          p Wir möchten darauf hinweisen, dass die Datenübertragung im Internet (z. B. bei der Kommunikation via E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
          br

          p.header Auskunftsrecht
          p Sie haben das Recht, auf Antrag unentgeltlich Auskunft über die personenbezogenen Daten zu erhalten, die über Sie gespeichert wurden. Zusätzlich haben Sie das Recht auf Berichtigung unrichtiger Daten sowie auf Sperrung und Löschung personenbezogener Daten, sofern dem keine gesetzliche Aufbewahrungsfrist entgegensteht. Dazu können Sie sich jederzeit über die im Impressum genannten Kontaktinformationen an uns wenden.
          br

          p.header Datenschutzerklärung für die Nutzung von Google Analytics
          p Diese Website/ die Webapp benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer/ Smartphone gespeichert werden und die eine Analyse der Benutzung der Website/ der Webapp durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website/ dieser Webapp werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Auf dieser Website/ dieser Webapp wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
          p Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website/ dieser Webapp wird Google diese Informationen benutzen, um Ihre Nutzung der Website/ der Webapp auszuwerten, um Reports über die Website- und Webappaktivitäten zusammenzustellen und um weitere mit der Website- und Webappnutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber/Webapp-Betreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
          p Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website/ Webapp vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website/ Webapp bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link (http://tools.google.com/dlpage/gaoptout?hl=de) verfügbare Browser-Plugin herunterladen und installieren.


          br
          br

    //- footer section
    section#contact.gray-section
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
            p
              | &copy; 2015 SimplyFi Analytics
    //- import vendor scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    //- import app scripts
