//- This is the impressum
   Created by benjamintanz on 10.09.15.
doctype html
html(lang='de')
  head
    //- meta tags
    meta(charset="utf-8")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    title Datenschutzerklärung | SimplyFi
    //- Import vendor css
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    //- Import app css
    link(rel='stylesheet' href='../css/app.landing.css')
    link(rel='stylesheet' href='../css/app.landing.legal.css')
  body(id="page-top")
    //- navbar
    div.navbar-wrapper
      nav.navbar.navbar-default.navbar-fixed-top.navbar-dark(role='navigation')
        div.container
          div.navbar-header.page-scroll
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span(class='sr-only') Navigation öffnen
              span(class='icon-bar sf-bar')
              span(class='icon-bar sf-bar')
              span(class='icon-bar sf-bar')
            a(class='navbar-brand', href='/')
              h1.logo SimplyFi
          div#navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='/') Home
              li
                a.page-scroll(href='/#calcs') Rechner
              //li
                a.page-scroll(href='#') Blog
    section(id='impressum' class='container services')
      div.row
        div.col-lg-12
          br
          h1 Impressum
          br
          p.line Benjamin Tanz
          p.line Sedanstraße 25
          p 81667 München

          //-h5 SimplyFi Analytics UG (haftungsbeschränkt)
          //-p.line Amalienstraße 71
          //-p 80799 München
          //-p.line Handelsregister-Nr: HRB 220674, Amtsgericht München
          //-p Geschäftsführer: Benjamin Tanz
          //-p E-Mail: kontakt@simplyfi.de
          //-br
          //-br
          br
          p.header Verantwortlich für den Inhalt
          p Benjamin Tanz
          br
          p.header Haftungsausschluss
          p Die Nutzung der Inhalte dieser Website/Webapp erfolgt auf eigene Gefahr des Nutzers. Der Betreibers haftet nicht für Schäden jeglicher Art, die Ihnen entstanden sind oder Ihnen drohen, falls Sie die Website/Webapp genutzt und/oder darauf vertraut haben. Der Betreiber übernimmt ausdrücklich keinerlei Gewähr für Vollständigkeit, Richtigkeit und Aktualität der angebotenen Inhalte.
          p Die Nutzung der auf dieser Website/Webapp bereitgestellten Rechner/Tools stellt keine Beratung dar und ersetzt diese nicht. Der Betreiber haftet nicht für die Folgen der etwaigen Entscheidungen, die der Nutzer aufgrund der Resultate der Rechner/Tools trifft.
          br
          p.header Bildnachweis
          p &copy; iStock - www.istockphoto.com
          br
          br
          br
          br
          br
    //- footer section
    section#contact.gray-section
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
            p
              | &copy; 2016
    //- import vendor scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    //- import app scripts