//
   Created by benjamintanz on 22.09.15.


div.inputsbox
  h5 Parameter
  table(style='table-layout: fixed;')
    col(width='378px;')
    col(width='200px;')
    each value,key in inputObj
      tr
        td= value.description + ': '
        if value.label == undefined || value.label == 'Datum'
          td(style='padding-top: 0px;')= value.value
        else
          td(style='padding-top: 0px;')= value.value + ' ' + value.label






