//
   Created by benjamintanz on 24.09.15.

div.outputsbox-1
  h5 Ergebnisse
  table(style='table-layout: fixed;')
    col(width='378px;')
    col(width='200px;')
    each value,key in outputObj
      if value.importance == 'second'
        tr
          td(style='padding-left: 20px;')= value.description + ': '
          td(style='text-align: right;')= format(value) + ' ' + value.unit
      else
        tr
          td(style='padding-top: 0px;')= value.description + ': '
          td(style='padding-top: 0px; text-align: right;')= format(value) + ' ' + value.unit
