//- boerse-portfolio-template
script(id='boerse-portfolio-stocksInput-template', type='text/x-handlebars-template')
  div.form-group.m-l-lg
    div.row
      div.col-xs-10
        - var test = _.findWhere(obj.inputs, {name: 'asset'}).options;
        select(id='{{obj.id1}}', class='form-control')
          each option, index in test
            option(value=option.id)= option.description
      div.col-xs-2
        button.btn.btn-default(type='button', id='{{obj.id2}}', class='boerse-portfolio-remove')
          i.fa.fa-times



script(id='boerse-portfolio-stocksAddButton-template', type='text/x-handlebars-template')
  div.form-group.m-l-lg
    div.row
      div.col-xs-2
        button.btn.btn-primary(type='button', id='boerse-portfolio-add')
          i.fa.fa-plus &nbsp Position hinzufügen



script(id='boerse-portfolio-results-2-template', type='text/x-handlebars-template')
  div.ibox.float-e-margins
    div.ibox-title
      h5
        i.fa.fa-bar-chart-o.fa-lg.text-lightblue &nbsp
        | {{obj.title}}
    div.ibox-content
      table.table.table-striped
        thead
          tr
            | {{#with obj.header}}
            th(style='text-align: left;padding:2px;') {{{this.[0]}}}
            th(style='text-align: right;padding:2px;') {{{this.[1]}}}
            th(style='text-align: right;padding:2px;') {{{this.[2]}}}
            th(style='text-align: right;padding:2px;') {{{this.[3]}}}
            th(style='text-align: right;padding:2px;') {{{this.[4]}}}
            | {{/with}}
        tbody
          | {{#each obj.body}}

          tr
            td(style='text-align: left;padding:2px;') {{this.[0]}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[1] this.digits}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[2] this.digits}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[3] 0}}
            //td(style='text-align: right;padding:2px;') {{numFormat this.[4] 0}}
          | {{/each}}