//- debt-annuity-template
script(id='debt-annuity-results-2-template', type='text/x-handlebars-template')
  div.ibox.float-e-margins
    div.ibox-title
      h5
        i.fa.fa-bar-chart-o.fa-lg.text-lightblue &nbsp
        | {{obj.title}}
    div.ibox-content
      table.table.table-striped
        thead
          tr
            | {{#with obj.header}}
            th(style='text-align: left;padding:2px;') {{{this.[0]}}}
            th(style='text-align: right;padding:2px;') {{{this.[1]}}}
            th(style='text-align: right;padding:2px;') {{{this.[2]}}}
            th(style='text-align: right;padding:2px;') {{{this.[3]}}}
            th(style='text-align: right;padding:2px;') {{{this.[4]}}}
            th(style='text-align: right;padding:2px;') {{{this.[5]}}}
            | {{/with}}
        tbody
          | {{#each obj.body}}
          tr
            td(style='text-align: left;padding:2px;') {{numFormat this.[0] 0}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[1] this.digits}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[2] this.digits}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[3] this.digits}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[4] this.digits}}
            td(style='text-align: right;padding:2px;') {{numFormat this.[5] this.digits}}
          | {{/each}}