//
   Created by benjamintanz on 25.07.15.
//- deposits-overnight-templates
script(id='deposits-overnight-interesttypeInput-template', type='text/x-handlebars-template')
  div.form-group.m-l-lg
    div.row
      div.col-md-3
        //h4 {{obj.count}}
        div.input-group.m-b-sm
          | {{#if obj.first}}
          | &nbsp
          | {{/if}}
          h4 {{obj.count}}
      div.col-md-5
        | {{#if obj.first}}
        label(for='{{obj.id1}}') Guthaben ab &nbsp
        | {{/if}}
        div.input-group.m-b-sm
          input(placeholder='', id='{{obj.id1}}', type='number', value='{{obj.amount}}', class='form-control')
          span.input-group-addon EUR
      div.col-md-4
        | {{#if obj.first}}
        label(for='{{obj.id2}}') Zinssatz &nbsp
        | {{/if}}
        div.input-group.m-b-sm
          input(placeholder='', id='{{obj.id2}}', type='number', value='{{obj.interest}}', class="form-control")
          span.input-group-addon % p. a.



// modals
div.modal.inmodal.fade#deposits-overnight-interestperiodModal(tabindex='-1', role='dialog')
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') x
          span.sr-only Close
        i.fa.fa-laptop.modal-icon
        h4.modal-title Hinweis
      div.modal-body
        p Leider können bei guthabenabhängiger Verzinsung keine Zinseszinsen berücksichtigt werden. Ihre vorherige Auswahl im Feld 'Zinsperiode' wurde auf 'Auszahlung / kein Zinseszins' gesetzt.
      div.modal-footer
        button(type='button', class='btn btn-primary', data-dismiss='modal') OK