//
   Created by benjamintanz on 19.08.15.

extends layout

block content
  //- sidebar on the right
  //include includes/sidebar
  div.row.wrapper.border-bottom.white-bg.page-heading
    div.col-lg-12
      h2 SimplyFi Guides
      h3 Portfoliorechner
      h4
        a(href='/portfoliorechner')
          i.fa.fa-arrow-circle-right.fa-lg
          | &nbsp Zum Rechner
    //
      ol.breadcrumb
        li
          a(href='/') Home
          a(href='/') Home again
  div.wrapper.wrapper-content
    div.row
      div.col-lg-12
        div
          div.ibox.float-e-margins
            div.ibox-content
              div.row
                div.col-md-5
                  h2
                    i.fa.fa-question.text-lightblue &nbsp
                    | Diese Fragen beantwortet der Rechner
                  p Lorem ipsum dolor sit amet, pro aperiri
                  br
                  h2
                    i.fa.fa-thumbs-up.text-lightblue &nbsp
                    | Wer von diesem Rechner profitiert
                  p Lorem ipsum dolor sit amet, pro aperiri
                  br
                  h2
                    i.fa.fa-compass.text-lightblue &nbsp
                    | Ein Berechnungsbeispiel
                  p Lorem ipsum dolor sit amet, pro aperiri
                  br
                  h2
                    i.fa.fa-book.text-lightblue &nbsp
                    | Mehr Wissen
                  p Lorem ipsum dolor sit amet, pro aperiri
                div.col-md-7
                  h2
                    i.fa.fa-lightbulb-o.text-lightblue &nbsp
                    | So funktioniert der Rechner
                  p Lorem ipsum dolor sit amet, pro aperiri impedit insolens et. Ea veniam reprehendunt usu. At usu idque graece scripta, ei sed congue convenire. Adhuc regione eleifend cu duo, cum cu augue sadipscing. An sit legendos postulant, sea ut novum utamur, id prima ubique his. Ad falli imperdiet vituperata vel. eros dolore quo, at urbanitas democritum temporibus mea. Sed at falli audiam expetendis, cu quis solum intellegam usu. Et delenit officiis maluisset duo, phaedrum dignissim adipiscing at mea. Persius efficiendi deterruisset vim eu, vivendo abhorreant intellegebat pro ut. Id nulla dolorem accusamus vix. Quando rationibus te pro. An tation nonumes assueverit per, est ne latine necessitatibus.corrumpit sea no, ne mei harum sententiae. Duo eu augue legendos. An mei facete placerat singulis, at solum maiorum pri, paulo fuisset dissentiunt duo in. Eum tacimates explicari omittantur ne, nam id augue placerat. Eam deserunt voluptatibus eu. Nam cu odio fierent pertinacia, has case rebum solet ei.
