//- This is the layout file that wraps around any content of the app
doctype html
html(lang='de')
  head
    include includes/headtags

  body.skin
    div#wrapper
      //- add side navigation
      include includes/navbar

      //-div#page-wrapper.gray-bg.sidebar-content
      div#page-wrapper.gray-bg
        //- add top navbar
        include includes/navtop
        //- add main content
        block content

        div.footer
          //- add footer
          include includes/footer

    //- include scripts
    include includes/scripts
